.main-div {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.box {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    cursor: pointer;
}
.cross-mark::before {
    content: 'X';
    color: black;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.o-mark::before {
    content: 'O';
    color: black;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}