.main-div {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.impot-class {
    display: flex;
}
.increment {
height: 50px;
width: 50px;
background-color: green;
border: 1px solid green;
border-radius: 16px;
}
.decrement {
    height: 50px;
    width: 50px;
    background-color: red;
    border: 1px solid red;
border-radius: 16px;
}
