.main-div {
    text-align: center;
    margin: auto;
    width: 100%;
}
.row {
    display: flex;
}
.box {
    margin: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
.colour {
    background-color: green;
}