.main-div {
    width: 800px;
    height: 100%;
    border: 1px solid black;
    margin: auto;
}
.box {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}